

.musicNoteDiv {
    font-size: xxx-large;
    position: absolute;
}

#musicNote1{
    left: 429px; top: 50px;
}




.sharp {
    font-size: large;
    position: absolute;
    left: 425px;
    top: 288px;
}

#musicNote3{
    left: 429px; top: 250px;
}



.flat {
    font-size: large;
    position: absolute;
    left: 425px;
    top: 335px;
}

#musicNote4{
    left: 429px; top: 300px;
}


#musicNote2{
    left: 429px; top: 150px;
}

hr{
    position: absolute;
    width: 32px;
    left: 432px;
    top: 185px;
    color: black;
    border-style: solid;
}



*/