


.staffDiv {
    font-size: xx-large;
    margin-left:5%;
    width: 90%;
    height: 340px;
    background-image: url(../images/download.png);
    background-size: cover;
    background-repeat: no-repeat;
}